body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    background-color: bisque;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

body>div {
    display: grid;
    gap: 2rem;
}

header,
main,
footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.2rem;
}

nav > .link {
    padding: 0.3rem 1rem;
    text-decoration: none;
    color: #36f;
    border-bottom: 0.2rem solid transparent;
}

nav > .link:hover {
    border-bottom-color: #36f;
}

nav > .link.active {
    background-color: #36f;
    color: #fff;
}