body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2rem;
}
main {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    box-sizing: border-box;
    background-color:r;
}
article {
    text-align: center;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: blanchedalmond;
}
article img {
    width: 30%;
    min-width: 8rem;
}
article a {
    text-decoration: none;
}
article a:hover {
    cursor: pointer;
    text-decoration: underline;
}